<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historical European Weather Data API</title>
</head>
<body>
    <h1><b><u>Historical European Weather Data API</u></b></h1>
    <p>URL Format:<u> http://127.0.0.1:5001/api/v1/station/date</u> </p>
    <p>For one station, for one date: <u>http://127.0.0.1:5001/api/v1/10/1988-10-25</u></p>
    <p>For one station,for all dates: <u>http://127.0.0.1:5001/api/v1/10</u></p>
    <p>For one station,for one year: <u>http://127.0.0.1:5001/api/v1/yearly/10/1988</u></p>
    <p>{{data|safe}}</p>
</body>
</html>